@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}

@layer components {
    .underline-custom {
        @apply border-b-2 border-neutral-700
    }

    .error {
        @apply text-red-600 pt-1 text-sm
    }

    .input-sing-up {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5;
    }
}