header {
    color: white;
    text-align: center;
    padding: 16px;
    margin: 0;
    width: 100%;
    top: 0;
    left: 0;
    animation: enhace-header linear both;
    animation-timeline: scroll(root block) ;
    animation-range: 0 200px;
    z-index: 1;
}

@keyframes enhace-header {
    to {
        background: rgba(255, 255, 255, 0.244);
        backdrop-filter: blur(10px);
        color: black;
    }
}