#landing-header {
    animation: enhace-header linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 200px;
}

@keyframes enhace-header {
    to {
        background: rgba(255, 255, 255, 0.244);
        backdrop-filter: blur(10px);
        color: black;
    }
}