.card {
    animation: fadeInUp 0.5s ease-out forwards 0s;
    transform: translateY(20px);
    transition: opacity 0.5s ease-outs forwards, transform 0.5s ease-out;
}

.card-0 {
    animation-delay: 0s;
}

.card-1 {
    animation-delay: 0.3s;
}

.card-2 {
    animation-delay: 0.6s;
}

@keyframes card-apparence {
    0% {
        transform: scale(1) rotate(10deg);
    }

    100% {
        transform: scale(20) translate(100vw, -100vh, 0) rotate(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}