.services__title {
    font-size: 3rem;
    font-weight: bold;
}

.services__container {
    margin-bottom: 3rem;
}

.services__cards {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
}

.animated_card {
    display: grid;
    place-items: center;

    position: relative;

    height: 500px;
    width: 350px;
    background: #222;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;

    & span {
        color: rgba(0, 0, 0, 0.1);
        font-size: 10em;
        z-index: 2;
    }

    &::before {
        position: absolute;
        content: '';
        width: 50%; 
        height: 180%; 
        background: #00dc07;
        transform: rotate(45deg);
        transition: all .4s ease;
    }

    &::after {
        position: absolute;
        content: '';
        inset: 5px;
        background: radial-gradient(125% 125% at 50% 10%,#fff 40%,#63e 100%);
        border-radius: 8px;
    }

    &:hover::before {
        transition: all .3s ease;
        animation: animate2 3s linear infinite;
    }
}

@keyframes animate2 {
    to { rotate: 360deg; }
}